In [1]:
import os
import random

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import SimpleITK as sitk
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from torch.utils.tensorboard import SummaryWriter
import torch
import torch.nn as nn
import monai.transforms as monai_transforms

from dataset import (
    MRIDataset, 
    get_loader, get_data, get_covid_data,
    get_normalization_param, 
    get_transform, get_normalization_param_nomask)
from models import C3D, generate_model, ResNet, get_model
from train import epoch_iter, add_metrics, save_checkpoint, get_metrics

In [2]:
df = pd.read_excel("/data1/KidLead/KidLead_analysis/project_info/PBproject_info.xlsx", sheet_name = 'Total')

In [3]:
df

,HN,First_Name,Surname,TH_Name,FSIQ_01,IQ_01_range,Age_Day_01,Age_Y_01,Age_M_01,Lead(Pb),SEX_convert,Group
0,3640688,Aiyada,Samanchuea,อัยดา สมานเชื้อ,107,Average,3637,9,119,3.030,F,normal
1,4726412,Akkharadet,Saengchan,อัครเดช แสงจันทร์,116,bright normal,4807,13,157,5.270,M,normal
2,4726420,Alina,Wongchaidet,อาลีน่า วงษ์ไชยเดช,93,Average,3406,9,111,2.820,F,normal
3,4720316,Amani,Charoenying,อมานี เจริญยิ่ง,107,Average,3287,8,107,1.760,F,normal
4,4720208,Ananya,Charoenmun,อนัญญา เจริญมูล,99,Average,3586,9,117,2.840,F,normal
...,...,...,...,...,...,...,...,...,...,...,...,...
149,4854341,Surasak,Phaisantham,สุรศักดิ์ ไพศาลธรรม,87,low average,4516,12,148,22.830,M,lead
150,4854351,Waranya,Bupphachaem,วรัณญา บุปผาแช่ม,90,Average,4279,11,140,11.685,F,lead
151,4854350,Warinya,Bupphachaem,วริณญา บุปผาแช่ม,91,Average,4279,11,140,11.685,F,lead
152,4854346,Wawalee,Tamasee,วาวลี ตามาสี,100,Average,4028,11,132,11.450,F,lead
153,4847311,Wiraphon,Thiankhai,วิราพร เทียนไข,97,Average,3394,9,111,16.375,F,lead

In [15]:
F.softmax(torch.Tensor(a)).tolist()

Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.

tensor([[0.4173, 0.5827],
        [0.4646, 0.5354],
        [0.3669, 0.6331]])

In [11]:
a = [[-0.02297105,  0.31076393],
 [ 0.27239621,  0.41407093],
 [-0.03566893,  0.50999635]]

In [12]:
a

[[-0.02297105, 0.31076393],
 [0.27239621, 0.41407093],
 [-0.03566893, 0.50999635]]

In [5]:
number_of_data = 961
test_size = 0.2
random_state = 55555
from sklearn.model_selection import KFold
kf = KFold(n_splits=5, random_state=random_state, shuffle=True)
all_index = list(range(number_of_data))

train_index, test_index = train_test_split(all_index,  test_size= test_size, random_state=random_state)

for i, (train_index, val_index) in enumerate(kf.split(train_index)):
    print(val_index)

[  1   5   8  10  20  27  32  35  36  42  46  49  50  54  55  57  60  65
  72  77  79  92  94  97 100 104 109 111 116 124 125 132 134 136 137 138
 141 142 145 146 148 166 175 177 178 189 205 206 211 213 214 219 222 223
 241 242 251 256 266 279 291 295 300 304 307 309 320 321 323 334 337 341
 344 353 354 357 363 369 370 371 374 375 376 394 403 412 413 427 439 442
 449 460 467 468 469 476 480 490 497 501 504 506 508 509 513 514 517 522
 527 528 530 538 540 541 546 548 552 563 565 571 576 607 623 624 625 627
 634 645 646 648 650 653 658 659 663 664 672 673 687 694 696 699 701 704
 729 736 744 748 751 752 754 755 760 765]
[  0   6   7  13  15  18  21  24  31  37  48  52  53  61  63  69  70  76
  81  82  85  86  87  88  91  95  99 103 117 121 129 147 157 158 162 167
 169 171 181 184 185 187 191 202 204 226 234 236 244 248 250 252 254 262
 282 283 292 294 296 299 301 308 312 317 325 326 328 333 335 336 338 345
 349 352 367 379 387 397 398 400 404 405 410 411 414 419 426 428 432 437
 440 443 444 451 453 455 458 470 474 483 484 485 487 489 492 494 499 503
 519 520 526 549 553 558 569 580 581 582 587 590 597 605 606 609 612 619
 622 628 629 633 635 651 655 667 668 680 681 683 686 692 709 712 717 718
 720 725 732 734 735 738 746 749 763 767]
[ 16  22  23  25  26  28  33  39  41  58  62  67  73  75  84  90  96  98
 105 106 108 114 118 120 123 126 130 131 133 135 143 159 161 164 165 170
 173 183 192 201 203 207 208 221 224 225 230 232 233 239 255 260 264 268
 269 272 275 277 281 285 289 293 303 316 327 329 330 339 343 346 348 355
 358 364 377 378 381 388 390 393 395 407 409 416 422 423 431 447 456 461
 475 495 500 507 510 512 515 518 525 532 533 536 539 544 547 550 551 554
 555 556 559 573 577 586 589 593 595 596 598 601 608 613 621 626 638 640
 644 654 657 666 671 674 685 689 691 693 697 700 708 711 713 715 722 723
 724 731 733 739 742 747 750 756 757 759]
[  3   4   9  11  17  29  30  34  44  45  56  59  66  68  74  80  83  89
  93 107 110 112 115 119 127 139 140 144 152 154 155 160 168 172 176 179
 180 196 197 200 210 212 218 220 229 231 237 243 245 253 257 258 259 263
 270 274 276 278 287 288 290 298 302 306 310 311 315 322 340 347 350 360
 372 380 384 385 392 396 399 415 417 418 424 425 430 433 434 436 438 441
 446 452 454 457 459 463 471 472 473 479 481 482 486 493 496 511 516 523
 524 531 535 537 542 543 545 557 560 561 562 564 566 567 568 578 579 591
 594 600 603 604 611 616 617 618 630 637 656 660 662 679 684 690 698 702
 703 705 714 716 719 721 753 761 762]
[  2  12  14  19  38  40  43  47  51  64  71  78 101 102 113 122 128 149
 150 151 153 156 163 174 182 186 188 190 193 194 195 198 199 209 215 216
 217 227 228 235 238 240 246 247 249 261 265 267 271 273 280 284 286 297
 305 313 314 318 319 324 331 332 342 351 356 359 361 362 365 366 368 373
 382 383 386 389 391 401 402 406 408 420 421 429 435 445 448 450 462 464
 465 466 477 478 488 491 498 502 505 521 529 534 570 572 574 575 583 584
 585 588 592 599 602 610 614 615 620 631 632 636 639 641 642 643 647 649
 652 661 665 669 670 675 676 677 678 682 688 695 706 707 710 726 727 728
 730 737 740 741 743 745 758 764 766]

In [2]:
basepath = "/data0/AI_SAMPLES/AI_SAMPLES_18DEC2022"
csvpath = '/data0/AI_SAMPLES/mapping_18DEC2022.csv'

df_data = pd.read_csv(csvpath, header=None, index_col = 0, usecols=[0, 1, 4])
df_data.columns = ['class', 'name']
df_data.index.name = None

filenames = []
labels = []

for name, label in zip(df_data.name, df_data['class']):
    folderpath = os.path.join(basepath, name)
    try:
        fdt_paths_path = os.path.join(folderpath, 'DTI', 'fdt_paths_vol0.nii.gz')
        fdt_paths = sitk.ReadImage(fdt_paths_path)
        a = sitk.GetArrayFromImage(fdt_paths)
        if a.shape[0] != 62 or a.shape[1] != 128 or a.shape[2] != 128:
            print(a.shape)
            continue
    except:
        continue
    filenames.append(name)
    if label == 'mci':
        labels.append(1)
    elif label == 'normal':
        labels.append(0)
    elif label == 'mmd':
        labels.append(2) 


df_data = pd.DataFrame()
df_data['label'] = labels
df_data['name'] = filenames

(64, 128, 128)
(64, 128, 128)
(64, 128, 128)
(60, 128, 128)
(64, 128, 128)
(64, 128, 128)
(62, 144, 144)
(60, 128, 128)

In [35]:
y = torch.Tensor(labels)
x = filenames

In [38]:
y[0].to('cuda')

tensor(1., device='cuda:0')

In [32]:
len(x)

198

In [25]:

x_train, x_test, y_train,  y_test = train_test_split(x, y,  test_size= 0.25)

In [26]:
basepath = "/data0/AI_SAMPLES/AI_SAMPLES_18DEC2022"

train_dataset = MRIDataset(basepath ,x_train, y_train, 'DTI', 'fdt_paths_vol0.nii.gz', transform=None)
test_dataset = MRIDataset(basepath ,x_test, y_test, 'DTI', 'fdt_paths_vol0.nii.gz', transform=None)

In [27]:
batch_size = 2
num_workers = 0

train_loader = DataLoader(
    train_dataset, 
    batch_size= batch_size, 
    drop_last=True,
    shuffle =True,
    num_workers=num_workers,
    pin_memory = True)

val_loader = DataLoader(
    test_dataset, 
    batch_size= batch_size, 
    drop_last=False,
    shuffle =False,
    num_workers=num_workers,
    pin_memory = True)

In [28]:
model = C3D()

In [29]:
for img, label in train_loader:
    pred = model(img)
    break

In [11]:
pred

tensor([[0.5956, 0.4957, 0.4121],
        [0.5534, 0.5574, 0.4805]], grad_fn=<SigmoidBackward0>)

In [10]:
import torch.nn as nn

In [12]:
loss = nn.CrossEntropyLoss()

In [21]:
label

tensor([2, 0])

In [23]:
pred

tensor([[-0.5796,  0.0397, -0.1379],
        [-0.1161, -0.3968,  0.1287]], grad_fn=<AddmmBackward0>)

In [22]:
loss(pred, label)

tensor(1.0494, grad_fn=<NllLossBackward0>)

In [23]:
label

tensor([2, 0])